
@media(max-width:820px){
 .wrap-nav{
    display: none;
 }
 .nav-button{
    display: block;
 }
 .menu-lang{
    justify-content: left;
 }
 .item-numb{
    display: none;
 }
 .text p{
    flex-direction: column;
 }
}
