* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ol,
ul {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.first-section {
  background: url("../images/blur.png") repeat-x center bottom, url("../images/symbol.png") no-repeat center, url("../images/pattern.svg") no-repeat center, linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.second-section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.second-section:before,
.second-section:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background: url("../images/bottom-line-big.png") no-repeat center center;
  background-size: 98%;
}

.second-section:after {
  bottom: -20px;
  background: url("../images/bottom-line-small.png") no-repeat center center;
  background-size: 95%;
}

.head {
  margin-bottom: 100px;
}

.head a {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 15px;
}

.logo {
  padding: 35px;
  margin-bottom: -100px;
}

.wrap-lang {
  display: flex;
  justify-content: end;
}

.menu-lang {
  display: flex;
  position: relative;
}

.language-active a {
  width: 29px;
  height: 24px;
  background: url(../images/Active.png);
  border-radius: 8px;
}

.language a:hover {
  color: #F0145A;
}

.wrap-nav {
  display: flex;
  justify-content: end;
}

.wrap-nav a:hover {
  color: #F0145A;
}

.text {
  font-family: "TT Norms";
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  margin: 358px 320px 290px;

}

.scroll {
  text-align: center;
  padding: 290px 0 151px;
}

.experience {
  display: flex;
  justify-content: space-between;
}

.exp-menu a:hover {
  color: #F0145A;
}

.exp-active {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.exp a {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
}


.introduction h1 {
  font-family: "TT Norms";
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.introduction p {
  font-family: "TT Norms";
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}

.headin {
  margin-left: -50px;
  margin-top: 80px;
  margin-bottom: 68px;
}

.head1 a {
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 60px;
}

.head1 img {
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 5.5px;
}

.head2 {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 60px;
}

.services {
  display: flex;
  justify-content: space-between;
}

.service-menu6 {
  margin-top: 65px;
}

.service-menu6 h3 {
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}

.service-menu6 p {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.service-menu h3 {
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}

.service-menu p {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.third-section {
  background: #E5E5E5;
  padding-top: 40px;
}

.carousel-inner {
  background: #F5F5FA;
  border-radius: 12px;
}

.texting {
  display: flex;
}

.texting h3 {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.texting p {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.texting h4 {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;

}

.texting span {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.heading {
  margin: 40px 40px 0;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  border: none;
  opacity: .2;
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.caseitem-text h3 {
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #F0145A;
  margin: 20px 20px 20px;
}

.caseitem1 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px 20px 20px;
  ;
}

.caseitem1 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px 20px 20px;
}

.caseitem2 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px
}

.caseitem2 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px
}

.caseitem3 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px 20px 20px;
}

.caseitem3 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px 20px 20px;
}

.caseitem4 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px 20px 20px;
}

.caseitem4 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px 20px 20px;
}

.caseitem5 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px 20px 20px;
}

.caseitem5 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px 20px 20px;
}

.caseitem6 h3 {
  font-family: 'TT Norms';
  font-size: 24px;
  line-height: 28px;
  color: #686887;
  margin: 20px 20px 20px;
}

.caseitem6 p {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 26px;
  color: #B3B3BA;
  margin: 20px 20px 20px;
}

.wrapper {
  display: grid;
  grid-template-columns: 320px 113px 340px 114px 433px;
  grid-template-rows: 57px repeat(2, 198px);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
  margin: 77px 0px 30px;
}

.case1 {
  grid-area: 1/1/2/3;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 12px 0px 0px 0px;
}

.case2 {
  grid-area: 2/1/3/3;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
}

.case3 {
  grid-area: 3/1/4/2;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px 0px 0px 12px;
}

.case4 {
  grid-area: 3/2/4/4;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
}

.case5 {
  grid-area: 1/3/3/5;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px;
}

.case6 {
  grid-area: 3/4/4/6;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px 0px 12px 0px;
}

.case7 {
  grid-area: 1/5/3/6;
  background: #F5F5FA;
  border: 1px solid #FFFFFF;
  border-radius: 0px 12px 0px 0px;
}

.fifth section {
  background: #E5E5E5;
  padding-top: 40px;
}

.clients h3 {
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  padding: 50px;
}

.grid {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
}

.gridclient1 {
  padding: 36px 73px;
  background: rgba(28, 66, 128, 1);
}

.gridclient2 {
  padding: 44px 82px;
  background: rgba(20, 54, 70, 1);
}

.gridclient3 {
  padding: 39px 92px;
  background: rgba(244, 139, 48, 1);
}

.gridclient4 {
  padding: 39px 90px;
  background: rgba(158, 77, 195, 1);
}

.gridclient5 {
  padding: 38px 93px;
  background: rgba(253, 147, 57, 1);
}

.gridclient6 {
  padding: 36px 88px;
  background: rgba(226, 226, 228, 1);
}

.gridclient7 {
  padding: 31px 111px;
  background: rgba(199, 28, 54, 1);
}

.gridclient8 {
  padding: 22px 107px;
  background: rgba(220, 243, 249, 1);
}

.gridclient9 {
  padding: 30px 89px;
  background: rgba(234, 234, 234, 1);
}

.gridclient10 {
  padding: 41px 90px;
  background: rgba(40, 34, 64, 1);
}

.gridclient11 {
  padding: 37px 86px;
  background: rgba(29, 69, 104, 1);
}

.gridclient12 {
  padding: 13px 104px;
  background: rgba(0, 0, 0, 1);
}

.sixt section {
  background: #F5F5FA;
}

.publication {
  margin: 40px 59px;
}

.public a {
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.public img {
  width: 12px;
  height: 12px;
  margin-top: 3px;
}

.public2 {
  font-family: 'TT Norms';
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gridpublic {
  display: grid;
  grid-template-columns: 413px 413px 413px;
  grid-template-rows: 265px 420px 462px;
  grid-gap: 40px;
}

.gridpubl1 {
  border-radius: 8px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);

}

.gridpubl1 h4 {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding: 20px 0px 20px 40px;
}

.gridpubl1 span {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding: 20px 0px 20px 40px;
}

.separator {
  text-align: center;
}

.gridpubl1 p {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 20px 0px 20px 40px;
  padding-top: 10px;
}

.gridpubl2 {
  border-radius: 8px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

.gridpubl2 h4 {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding: 20px 0px 20px 40px;
}

.gridpubl2 span {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding: 20px 0px 20px 40px;
}

.separator {
  text-align: center;
}

.gridpubl2 p {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 20px 0px 20px 40px;
  padding-top: 10px;
}

.gridpubl3 {
  border-radius: 8px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

.gridpubl3 h4 {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding: 20px 0px 20px 40px;
}

.gridpubl3 span {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding: 20px 0px 20px 40px;
}

.separator {
  text-align: center;
}

.gridpubl3 p {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 20px 0px 20px 40px;
  padding-top: 10px;
}

.gridpubl4 {
  border-radius: 8px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.2);
}

.gridpubl4 h4 {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 21px;
  color: #24A3FF;
  padding: 20px 0px 20px 40px;
}

.gridpubl4 span {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  padding: 20px 0px 20px 40px;
}

.separator {
  text-align: center;
}

.gridpubl4 p {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  padding: 20px 0px 20px 40px;
  padding-top: 10px;
}

.gridpubl5 {
  padding-top: 200px;
}

.gridpubl6 {
  padding-top: 200px;
}

.wrap-btn {
  display: flex;
  justify-content: center;
  margin-top: -600px;
}

.btn {
  width: 250px;
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;

}

.btn a {
  font-family: 'TT Norms';
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: inline-block;
}

.footer {
  visibility: hidden;
  height: 151px;
  left: 0px;
  right: 0px;
  top: 151px;
  background: #F5F5FA;
  border-radius: 0px 0px 12px 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.foot-map {
  display: flex;
  margin: 32px 60px 31px;
}

.city a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.dot-sep img {
  margin-left: 31px;
  margin-right: 10px;
}

.dot-sep a {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.facemail {
  display: flex;
  margin-left: 50px;
}

.face-logo {
  margin-top: -5px;
  margin-right: 10px;
}

.dot-grey {
  margin-right: 32px;
}

.numb a {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  margin-right: 10px;
}

.mail img {
  margin-right: 10px;
}

.mail a {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}

.copy h2 {
  display: flex;
  justify-content: end;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  margin-top: -90px;
  margin-right: 50px;

}

.separator-grey img {
  display: flex;
  margin-top: 150px;
  margin-left: 50px;
}

/* .about page */
.about-logo {
  margin-top: 50px;
}

.about-logo span {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #323264;
}

.about-wrap-lang {
  display: flex;
  justify-content: end;
}

.about-wrap-lang {
  display: flex;
  justify-content: end;
}

.about-menu-lang {
  display: flex;
  position: relative;
}

.about-language-active a {
  width: 29px;
  height: 24px;
  background: url(../images/Active.png);
  border-radius: 8px;
}

.about-language a:hover {
  color: #F0145A;
}

.about-language1 a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(179, 179, 186, 1);
}

.about-wrap-nav {
  display: flex;
  justify-content: end;
}

.about-wrap-nav a:hover {
  color: #F0145A;
}

.menu-lang {
  display: flex;
  position: relative;
}

.about-language-active a {
  width: 29px;
  height: 24px;
  background: url(../images/Active.png);
  border-radius: 8px;
}

.about-language a:hover {
  color: #F0145A;
}

.about-wrap-nav {
  display: flex;
  justify-content: end;
}

.about-wrap-nav a:hover {
  color: #F0145A;
}

.about {
  display: flex;
  position: relative;
}

.about-language a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: rgba(179, 179, 186, 1);
}

.about-menu-lang a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 1px;
  color: #FFFFFF;
}

.about a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
}

.about-wrap-nav a {
  font-family: 'TT Norms';
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #24A3FF;
  margin: 15px;
}

.about-introduction {
  display: flex;
  justify-content: space-between;
  margin-top: 82px;
}

.about-introduction h3 {
  font-family: 'TT Norms';
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-introduction p {
  font-family: 'TT Norms';
  font-size: 21px;
  line-height: 30px;
  color: #000000;
}

.about-advantages {
  margin-right: 50px;
}

.about-photo {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}


.about-more-text {
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
}

.about-more-text p {
  font-family: 'TT Norms';
  font-size: 21px;
  line-height: 30px;
  color: #000000;

}

.about-more-text h3 {
  font-family: 'TT Norms';
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.second-about {
  background: #F5F5FA;
  border-radius: 12px 12px 0px 0px;
}
.wrap-achievments{
  display: flex;
}
.achievment h3{
display: flex;
font-family: 'TT Norms';
font-size: 14px;
line-height: 16px;
letter-spacing: 1px;
text-transform: uppercase;
color: #323264;
}
.achievm{
  display: flex;
  margin: 15px;
}
.achiev-item{
  width: 300px;
  height: 109px;
  background: #FFFFFF;
  border-radius: 12px;
}
/* services page */
.logo span {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  color: #FFFFFF;
}

.footer {
  visibility: hidden;
  background: #F5F5FA;
  border-radius: 0px 0px 12px 12px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}

.servicewrap-footer {
  padding-bottom: 50px;
}

.servicefoot-map {
  display: flex;
  margin: 32px 60px 31px;
}

.servicecity a {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #323264;
}

.servicedot-sep img {
  margin-left: 31px;
  margin-right: 10px;
}

.servicedot-sep a {
  font-family: 'TT Norms';
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.servicefacemail {
  display: flex;
  margin-left: 50px;
}

.serviceface-logo {
  margin-top: -5px;
  margin-right: 10px;
}

.servicedot-grey {
  margin-right: 32px;
}

.servicenumb a {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 19px;
  color: #46466E;
  margin-right: 10px;
}

.servicemail img {
  margin-right: 10px;
}

.servicemail a {
  font-family: 'TT Norms';
  font-size: 16px;
  line-height: 19px;
  color: #24A3FF;
}

.servicecopy h2 {
  display: flex;
  justify-content: end;
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #B3B3BA;
  margin-top: -90px;
  margin-right: 50px;

}