* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

ol,
ul {
  text-decoration: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.first-section {
  background: url("../images/blur.png") repeat-x center bottom, url("../images/symbol.png") no-repeat center, url("../images/pattern.svg") no-repeat center, linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7A425E 87.53%);
}

.head {
  margin-bottom: 100px;
}

.head a {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin: 15px;
}

.logo {
  padding: 35px;
  margin-bottom: -100px;
}

.wrap-lang {
  display: flex;
  justify-content: end;
}

.language1 {
  background: url(../images/Active.png) no-repeat center;
}

.wrap-nav {
  display: flex;
  justify-content: end;
}

.text {
  font-family: "TT Norms";
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  color: #FFFFFF;
  margin: 358px 320px 290px;

}

.scroll {
  text-align: center;
  padding: 290px 0 151px;
}

.experience {
  display: flex;
  justify-content: space-between;
}

.exp-active {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.exp a {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  color: #B3B3BA;
}


.introduction h1 {
  font-family: "TT Norms";
  font-size: 32px;
  line-height: 38px;
  color: #FFFFFF;
}

.introduction p {
  font-family: "TT Norms";
  font-size: 21px;
  line-height: 30px;
  color: #FFFFFF;
}
.headin{
 margin-left: -50px;
 margin-top: 80px;
 margin-bottom: 68px;
}
.head1 a {
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin-left: 60px;
}

.head1 img {
  font-family: "TT Norms";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  margin: 5.5px;
}

.head2 {
  font-family: "TT Norms";
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-left: 60px;
}

.services {
  display: flex;
  justify-content: space-between;
}

.service-menu6 {
  margin-top: 65px;
}

.service-menu6 h3 {
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}

.service-menu6 p {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.service-menu h3 {
  font-family: "TT Norms";
  font-size: 24px;
  line-height: 28px;
  color: #24A3FF;
}

.service-menu p {
  font-family: "TT Norms";
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
}

.third-section {
  background: #E5E5E5;
  padding-top: 40px;
}

.carousel-inner {
  background: #F5F5FA;
  border-radius: 12px;
}

.texting {
  display: flex;
}

.texting h3 {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
}

.texting p {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.texting h4 {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #B3B3BA;

}

.texting span {
  font-family: 'TT Norms';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #B3B3BA;
}

.heading {
  margin: 40px 40px 0;
}

.carousel-indicators {
  bottom: -50px;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #24A3FF;
  border: none;
  opacity: .2;
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-control-next,
.carousel-control-prev {
  display: none;
}

.fifth section {
  background: #E5E5E5;
  padding-top: 40px;
}
.clients h3{
font-family: 'TT Norms';
font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #323264;
text-align: center;
padding: 50px;
}
.grid {
  display: grid;
  grid-template-columns: 360px 360px 360px 360px;
  grid-template-rows: 120px 120px 120px;
  justify-content: center;
}

.gridclient1 {
  padding: 36px 73px;
  background: rgba(28, 66, 128, 1);
}

.gridclient2 {
  padding: 44px 82px;
  background: rgba(20, 54, 70, 1);
}

.gridclient3 {
  padding: 39px 92px;
  background: rgba(244, 139, 48, 1);
}

.gridclient4 {
  padding: 39px 90px;
  background: rgba(158, 77, 195, 1);
}

.gridclient5 {
  padding: 38px 93px;
  background: rgba(253, 147, 57, 1);
}

.gridclient6 {
  padding: 36px 88px;
  background:rgba(226, 226, 228, 1);
}

.gridclient7 {
  padding: 31px 111px;
  background:rgba(199, 28, 54, 1);
}

.gridclient8 {
  padding: 22px 107px;
  background:rgba(220, 243, 249, 1);
}

.gridclient9 {
  padding: 30px 89px;
  background:rgba(234, 234, 234, 1);
}

.gridclient10 {
  padding: 41px 90px;
  background:rgba(40, 34, 64, 1);
}

.gridclient11 {
  padding: 37px 86px;
  background:rgba(29, 69, 104, 1);
}

.gridclient12 {
  padding: 13px 104px;
  background:rgba(0, 0, 0, 1);
}
.sixt section{
  background: #F5F5FA;
}
.publication{
margin: 40px 59px;
}
.public a{
font-family: 'TT Norms';
font-size: 14px;
line-height: 17px;
letter-spacing: 1px;
text-transform: uppercase;
color: #24A3FF;
}
.public img{
  width: 12px;
  height: 12px;
  margin-top: 3px;
}
.public2{
  font-family: 'TT Norms';
  font-size: 42px;
  line-height: 50px;
  background: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.second-section {
  background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0 0 12px 12px;
  position: relative;
}

.second-section:before,
.second-section:after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 10px;
  background: url("../images/bottom-line-big.png") no-repeat center center;
  background-size: 98%;
}

.second-section:after {
  bottom: -20px;
  background: url("../images/bottom-line-small.png") no-repeat center center;
  background-size: 95%;
}